<div class="search-overlay" style="display: none"></div>
{% if setting_value('visiosoft.theme.uzicani::show_header_ad_area')   %}
	<a href="{{ setting_value('visiosoft.theme.uzicani::header_ad_URL') }}">
		<div class="mast-head-container d-flex justify-content-center w-100" style="background-color: {{ setting_value('visiosoft.theme.uzicani::header_ad_background') }};">
			<img src="{{ file(setting_value('visiosoft.theme.uzicani::header_ad_image')).url }}" class="h-100">
		</div>
	</a>
{% endif %}

<nav class="container">
	<div class="header-link-container d-none d-lg-flex pt-3 mb-1 flex-wrap">
		{% for campaignLink in links('campaign_header').get() %}
			<a href="{{ campaignLink.url }}">{{ campaignLink.title }}</a>
		{% endfor %}
	</div>

	<div class="d-flex flex-wrap flex-lg-nowrap align-items-center mb-lg-3 pt-2 pt-md-4 pt-lg-0">
		<div class="header-logo d-flex align-items-center">
			<div class="flex-shrink-0">
				<img class="d-lg-none mr-2 mr-md-5 mobile-menu-toggler" src="{{ img('visiosoft.theme.uzicani::images/brg-menu.svg').url }}" alt="burger menu icon">
				<div class="styled-mobile-menu position-fixed">
					<div class="small-horizontal-rule"></div>
					<div class="top-wrapper px-2 d-flex justify-content-between align-items-center mb-2">
						<p>{{ trans('visiosoft.theme.uzicani::field.menu') }}</p>
						<img src="{{ img('visiosoft.theme.uzicani::images/close.svg').url }}" alt="close button">
					</div>
					<div class="scroll-container">
						<div class="mobile-menu">
							<div class="mobile-menu-heading d-flex justify-content-between align-items-center">
								<p>{{ trans('visiosoft.theme.uzicani::field.quick_browse') }}</p>
								<img src="{{ img('visiosoft.theme.uzicani::images/download.svg').url }}" alt="arrow">
							</div>
							<div class="mobile-menu-panel">
								<div class="mobile-menu-list">
									<a href="{{ url_route('visiosoft.module.advs::list') }}?sort_by=popular" class="link-unstyled d-flex align-items-center">
										<img src="{{ img('visiosoft.theme.uzicani::images/popular.svg').url }}" alt="popular">
										<p>{{ trans('visiosoft.theme.uzicani::field.popular_ads') }}</p>
									</a>
									<a href="{{ url_route('visiosoft.module.advs::list') }}?date=two_days" class="link-unstyled d-flex align-items-center">
										<img src="{{ img('visiosoft.theme.uzicani::images/clock.svg').url }}" alt="last 24 hours">
										<p>{{ trans('visiosoft.theme.uzicani::field.last_48_hours') }}</p>
									</a>
									<a href="{{ url_route('visiosoft.module.advs::list') }}?get_ads=true" class="link-unstyled d-flex align-items-center">
										<img src="{{ img('visiosoft.theme.uzicani::images/shield.svg').url }}" alt="secure">
										<p>{{ trans('visiosoft.theme.uzicani::field.secure_e_commerce_ads') }}</p>
									</a>
									<a href="{{ url_route('advs::create_adv') }}" class="link-unstyled d-flex align-items-center">
										<img src="{{ img('visiosoft.theme.uzicani::images/speaker.svg').url }}" alt="sell">
										<p>{{ trans('visiosoft.theme.uzicani::field.sell') }}</p>
									</a>
								</div>
								<div class="quick-browse-toggle-btn d-flex justify-content-between align-items-center">
									<button class="border-0 px-0">{{ trans('visiosoft.theme.uzicani::field.see_all') }}</button>
									<img src="{{ img('visiosoft.theme.uzicani::images/download.svg').url }}" alt="arrow">
								</div>
							</div>
						</div>
						<div class="categories-wrapper">
							<div class="categories-wrapper-title d-flex justify-content-between align-items-center">
								<p>{{ trans('visiosoft.theme.uzicani::field.categories') }}</p>
							</div>
							<div class="categories-accordion">
								{% set mainCategories = entries('cats', 'category').getMainCats() %}
								{% for category in mainCategories %}
									<div>
										{% if category.hasChild %}
											<div id="cat{{ category.id }}" class="d-flex align-items-center justify-content-between categories-accordion-item">
												<p class="text-truncate">{{ category.name }}</p>
												<img src="{{ img('visiosoft.theme.uzicani::images/download.svg').url }}" alt="arrow">
											</div>
										{% else %}
											<a href="{{ url_route('adv_list_seo', [category.slug]) }}" class="link-unstyled d-flex align-items-center justify-content-between categories-accordion-item">
												<p class="text-truncate">{{ category.name }}</p>
											</a>
										{% endif %}
										<div class="categories-accordion-panel"></div>
									</div>
								{% endfor %}
							</div>
						</div>

						{% if (auth_check()) and (setting_value('visiosoft.theme.uzicani::show_button_in_menu'))  %}
							<div class="d-flex justify-content-center mt-2 mb-2">
								<a href="{{ setting_value('visiosoft.theme.uzicani::menu_button_url') }}" class="btn btn-primary  w-210" rel="nofollow">
									{% if (setting_value('visiosoft.theme.uzicani::menu_button_icon') )%}
										<i class="{{ setting_value('visiosoft.theme.uzicani::menu_button_icon') }}"></i>
									{% endif %}
									{{ setting_value('visiosoft.theme.uzicani::menu_button_text') }}
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<a class="flex-fill" href="/">
				{% set ggLogo = setting_value('visiosoft.theme.uzicani::logo') %}
				{% set ggLogo = ggLogo ? file(ggLogo).url : img('visiosoft.theme.uzicani::images/gg-logo.svg').url %}
				<img src="{{ ggLogo }}" class="mr-lg-4" alt="header logo">
			</a>
		</div>

		<form class="header-search-container flex-fill d-flex mb-md-2 mb-lg-0" action="{{ url_route('visiosoft.module.advs::list') }}" method="get">
			<div class="text-search-input flex-fill d-flex align-items-center position-relative">
				<img src="{{ img('visiosoft.theme.uzicani::images/search.svg').url }}" class="position-absolute" alt="search icon">
				<input type="text" class="h-100 w-100" name="keyword" placeholder="{{ trans('visiosoft.theme.uzicani::field.header_search_input_placeholder') }}">
			</div>
			<button type="submit" class="border-0">{{ trans('visiosoft.theme.uzicani::field.find')|upper }}</button>
		</form>

		<div class="header-icon-container d-flex justify-content-end ml-lg-3">
			<div class="d-flex align-items-center">
				<img src="{{ img('visiosoft.theme.uzicani::images/user.svg').url }}" alt="profile icon">
				{% if auth_check() %}
					<div class="ml-3">
						<div class="dropdown">
							<a href="#" class="d-flex align-items-center dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<p class="mr-2 mr-md-0">{{ trans('visiosoft.theme.uzicani::field.my_account') }}</p>
								<img src="{{ img('visiosoft.theme.uzicani::images/down-arrow.svg').url }}" alt="down arrow" class="ml-1 position-relative down-arrow d-none d-lg-block">
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="{{ url_route("profile::profile") }}">
									{{ trans('visiosoft.theme.uzicani::field.profile') }}
								</a>
								{{ addBlock('navigation/dropdown')|raw }}
								<a class="dropdown-item" href="{{ url_route("anomaly.module.users::logout") }}">
									{{ trans('visiosoft.theme.uzicani::field.logout') }}
								</a>
							</div>
						</div>
						<p class="d-none d-md-inline">{{ auth_user().name }}</p>
					</div>
				{% else %}
					<div class="ml-3">
						<a href="{{ url_route('anomaly.module.users::login') }}" class="d-flex align-items-center">
							<p class="mr-2 mr-md-0">{{ trans('visiosoft.theme.uzicani::field.login') }}</p>
							<img src="{{ img('visiosoft.theme.uzicani::images/down-arrow.svg').url }}" alt="down arrow" class="ml-1 position-relative down-arrow d-none d-lg-block">
						</a>
						<a href="{{ url_route('anomaly.module.users::register') }}" class="d-none d-md-inline">
							{{ trans('visiosoft.theme.uzicani::field.or_register') }}
						</a>
					</div>
				{% endif %}
			</div>
			<a href="{{ url_route('visiosoft.module.carts::cart') }}" class="d-flex ml-3 ml-md-5 ml-lg-4 align-items-center">
				<img src="{{ img('visiosoft.theme.uzicani::images/shopping-cart.svg').url }}" class="mr-1" alt="cart icon">
				<p class="d-none d-md-block">{{ trans('visiosoft.theme.uzicani::field.cart') }}</p>
			</a>
		</div>
	</div>
</nav>

<nav class="horizontal-menu d-none d-lg-block">
	<div class="d-flex container position-relative">
		{% for category in setting_value('visiosoft.theme.uzicani::horizontal_menu_categories') %}
			{% set categoryEntry = entries('cats', 'category').find(category) %}
			<div class="horizontal-menu-item px-2 px-xl-3">
				<p>{{ categoryEntry.name }}</p>
				<div class="horizontal-menu-detail position-absolute">
					<div class="px-5">
						<div class="horizontal-menu-header d-flex align-items-center">
							<img src="{{ categoryEntry.icon.url }}" class=" mr-2" alt="basketball icon">
							<a href="{{ url_route('adv_list_seo', [categoryEntry.slug]) }}">
								{{ categoryEntry.name }}
								{{ trans('visiosoft.theme.uzicani::field.category') }}
							</a>
							<img src="{{ img('visiosoft.theme.uzicani::images/right.svg').url }}" class="ml-2" alt="right arrow">
						</div>
						<div class="row mx-0">
							{#                        <div class="row">#}
							{#                            <div class="col-xl-9 row">#}
								<div class="row"> {% for entrySubCategory in categoryEntry.getSubCategories(categoryEntry.id) %}
									<div class="col-4 mt-3">
										<h3>
											<a href="{{ url_route('adv_list_seo', [entrySubCategory.slug]) }}">
												{{ entrySubCategory.name }}
											</a>
										</h3>
										<div class="overflow-hidden">
											{% for subCategory in entrySubCategory.getSubCategories(entrySubCategory.id) %}
												<a href="{{ url_route('adv_list_seo', [subCategory.slug]) }}">
													{{ subCategory.name }}
												</a>
											{% endfor %}
										</div>
										<a href="{{ url_route('adv_list_seo', [entrySubCategory.slug]) }}">
											{{ trans('visiosoft.theme.uzicani::field.view_all') }}
										</a>
									</div>
								{% endfor %}
							</div>
							{#                            <div class="col-3 category-main-img d-none d-xl-block">#}
						{#                                <a href="#" class="p-3 d-flex justify-content-between align-items-end link-unstyled"#}
							{#                                   style="background-image: url('https://mcdn01.gittigidiyor.net/fred/page-based/header/img/sport.jpg');">#}
							{#                                    <div>#}
							{#                                        <p>Sport, Outdoor</p>#}
							{#                                        <span>All Categories</span>#}
							{#                                    </div>#}
							{#                                    <div class="d-flex justify-content-center align-items-center flex-shrink-0">#}
							{#                                        <img src="{{ img('visiosoft.theme.uzicani::images/more-categories.svg').url }}" alt="right arrow">#}
							{#                                    </div>#}
							{#                                </a>#}
							{#                            </div>#}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{% if  (auth_check()) and (setting_value('visiosoft.theme.uzicani::show_button_in_menu'))    %}
			<div class="d-flex ml-auto">
				<a href="{{ setting_value('visiosoft.theme.uzicani::menu_button_url') }}" class="btn btn-primary w-210" rel="nofollow">
					{% if (setting_value('visiosoft.theme.uzicani::menu_button_icon') )%}
						<i class="{{setting_value('visiosoft.theme.uzicani::menu_button_icon')}}"></i>
					{% endif %}
					{{ setting_value('visiosoft.theme.uzicani::menu_button_text') }}
				</a>
			</div>
		{% endif %}
	</div>
</nav>

<script>
	let downloadSVG = "{{ img('visiosoft.theme.uzicani::images/download.svg').url }}"
</script>
